$default-font: "Open Sans";
$smaller-font-size: smaller;
$inner-padding: 3px;
$default-spacing: 5px;
$inner-spacing: ($default-spacing / 2);
$default-border-radius: 5px;
$menu-item-padding: 3px 10px;
$font-size: medium;
$default-table-border: 1px solid gray;

// Text shadows
$header-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
$dark-text-shadow: 0px 1px 0px #FFF;


// Colors & backgrounds
$background-color: #2c96c6;
$background: $background-color url("/style/images/background.png");
$main-background: #DBDBDB;
$header-background-color: transparent;
$table-background-color: #F4DECB;
$menu-item-color: #F4DECB;
$link-color: #008;
$highlight-color: #EEEAE7;
$shade-light: rgba(#000, 0.15);
$shade: rgba(#000, 0.25);
$shade-medium: rgba(#000, 0.30);
$shade-full: rgba(#000, 0.5);
$menu-default-color: #FFF;

$table-header-background: url("/style/images/th-bg.png");
$menu-hover-background: linear-gradient(to top, $shade-medium 0%, $shade-light 100%);
$th-background-color: linear-gradient(to top, rgba(#000,0.7) 0%, rgba(#000, 0.6) 100%);

