$default-border-radius: 5px;
$main-spacing: 0.5rem;
$main-outline-color: #068;
$main-outline: 0 0 0 1px $main-outline-color;
$menu-bg: rgba(#000, 0.25);
$panel-inset-bg: #47555e;

* {
  margin: 0;
  padding: 0;
}

body, table, input, select, textarea, button {
  font-family: "Trebuchet MS", "Open Sans", sans-serif;
  font-size: medium;
}

input, button, select, textarea {
  border-radius: $default-border-radius;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: start;
}