@import "_globals.scss";

body {
  background: #2c96c6 url("/style/images/background.png");
  margin: $main-spacing;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto;
  grid-column-gap: $main-spacing;
  grid-row-gap: $main-spacing;
  align-items: start;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

main {
  border-radius: $default-border-radius;
  background: #dbdbdb;
  border: 1px solid #efefef;
  box-shadow: $main-outline;
  padding: $main-spacing;

  & > h2 {
    margin-top: 0;
  }
}