@model MoCat.Web.Infrastructure.IPageWithTitle

<!DOCTYPE html>
<html lang="en">
<head>
  <title>@(Model?.Title ?? "")</title>
</head>
<body>
<header>
  <partial name="_NoticeBoard"/>
  <nav>
    <a asp-page="Index">Home</a>
    <a asp-page="Auth/Logout">Logout</a>
  </nav>
</header>
<main>
  @RenderBody()
</main>
</body>
</html>