@model MoCat.Web.Infrastructure.IPageWithTitle

<!DOCTYPE html>
<html lang="en">
<head>
  <title>@(Model?.Title ?? "")</title>
</head>
<body>
<header>
  <partial name="_NoticeBoard"/>
</header>
<main>
  @RenderBody()
</main>
</body>
</html>