@using MoCat.Core.Components.Notices
@using Simpler.NetCore.Text
@namespace MoCat.Web.Pages.Shared

@inject INoticeBoard NoticeBoard

<div id="NoticeBoard">
  @foreach (Notice n in NoticeBoard.RemoveAllTransient()) {
    <div class="notice" data-autohide="@n.AutoHide" id="@(n.Name.NotBlank() ? $"Notice_{n.Name}" : null)">
      @n.Message
    </div>
  }
</div>