/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/style/fonts/open-sans-v18-latin-regular.woff2") format("woff2"), url("/style/fonts/open-sans-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/style/fonts/open-sans-v18-latin-700.woff2") format("woff2"), url("/style/fonts/open-sans-v18-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/style/fonts/open-sans-v18-latin-700italic.woff2") format("woff2"), url("/style/fonts/open-sans-v18-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
}

body, table, input, select, textarea, button {
  font-family: "Trebuchet MS", "Open Sans", sans-serif;
  font-size: medium;
}

input, button, select, textarea {
  border-radius: 5px;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

* {
  margin: 0;
  padding: 0;
}

body, table, input, select, textarea, button {
  font-family: "Trebuchet MS", "Open Sans", sans-serif;
  font-size: medium;
}

input, button, select, textarea {
  border-radius: 5px;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

body {
  background: #2c96c6 url("/style/images/background.png");
  margin: 0.5rem;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  align-items: start;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

main {
  border-radius: 5px;
  background: #dbdbdb;
  border: 1px solid #efefef;
  box-shadow: 0 0 0 1px #068;
  padding: 0.5rem;
}
main > h2 {
  margin-top: 0;
}

#NoticeBoard .notice {
  padding: 0.25em;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #068;
}
#NoticeBoard .notice + .notice {
  margin-top: 3px;
}

* {
  margin: 0;
  padding: 0;
}

body, table, input, select, textarea, button {
  font-family: "Trebuchet MS", "Open Sans", sans-serif;
  font-size: medium;
}

input, button, select, textarea {
  border-radius: 5px;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

nav {
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
}
nav > ul {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.5em 0;
  display: block;
  margin: 0;
  flex-direction: column;
  box-shadow: 0 0 0 1px #068;
}
nav > ul + ul {
  margin-top: 0.25em;
}
nav > ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav > ul li a {
  min-width: 10em;
  padding: 0.5rem;
}
nav > ul li a.active {
  background: linear-gradient(to top, #013156 0%, rgba(1, 49, 86, 0.5) 100%);
}
nav > ul li a:hover {
  background: linear-gradient(to top, rgba(1, 49, 86, 0.5) 0%, rgba(1, 49, 86, 0.25) 100%);
}

#SubMenu {
  display: inline-flex;
  border-radius: 5px;
  background-color: #47555e;
  text-shadow: 1px 1px 1px #000;
  padding: 0 0.5rem;
  box-shadow: inset 0 2px 2px 0 #000;
  border-bottom: 1px solid #FFF;
  margin-bottom: calc(0.5rem * 2);
}
#SubMenu li {
  display: block;
  border-left: 1px solid #546168;
  border-right: 1px solid #37444b;
}
#SubMenu li:first-of-type {
  border-left: none;
}
#SubMenu li:last-of-type {
  border-right: none;
}
#SubMenu li a {
  display: block;
  padding: calc(0.5rem / 2);
}

/*# sourceMappingURL=main.css.map */
